[user]
	name = sungjk
	email = ajax0615@gmail.com
[core]
	name = sungjk
	email = ajax0615@gmail.com
	excludesfile = $HOME/dotfiles/.gitignore_global
	precomposeunicode = true
	quotepath = false
[alias]
	c = commit -m
	s = status -s
	a = "!git add $(git status -s | fzf -m | awk '{print $2}')"
	undocommit = reset HEAD~
	hreset = reset --hard
	df = diff --color --color-words --abbrev
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	ch = "!git checkout $(git branch --all -vv | fzf --no-multi --no-mouse -e --ansi | awk '{print $1}')"
	co = "!git checkout -- $(git status -s | fzf -m --no-mouse | awk '{print $2}')"
	br = "!git branch --all --color \
    | grep -v HEAD \
    | sed 's#.* ##' \
    | sed 's#remotes/##' \
    | fzf +s -m --no-mouse +e --ansi --preview-window 'right:70%' \
    --preview 'git log --color --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit {1} -- | head -200'"
	brd = "!git branch -d $(git branch | fzf --no-multi --no-mouse | awk '{print $1}')"

[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
	newMoved = cyan
	oldMoved = blue
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[fetch]
	prune = true
